.mobilemenu {
    width: 60vw;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 100vh;
    z-index: 100;
    background: #FAFAFA;
    box-shadow: 2px 2px 2px #333;
    display: flex;
    flex-direction: column;
    visibility: hidden
}

.mobilemenuin {
    width: 60vw;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 100vh;
    z-index: 100;
    background: #FAFAFA;
    box-shadow: 2px 2px 2px #333;
    display: flex;
    flex-direction: column;
    animation: fade-me-in 2s 1;
}

.mobilemenuout {
    width: 60vw;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 100vh;
    z-index: 100;
    background: #FAFAFA;
    box-shadow: 2px 2px 2px #333;
    display: flex;
    flex-direction: column;
    animation: fade-me-out 2s forwards;
}

.goToHomepage {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2.5vw;
    border-bottom: 1px grey solid;
}

.goToHomepageTitle{ 
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-weight: bold;
}

ul {
    text-decoration: none;
    padding-left: 0;
    margin-top: 0;
}

.homeLink {
    margin-left: 4vw;
}

.category1 {
    padding: 2vw;
    display: flex;
    flex-direction: row;
}

.category2 {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
}

.categoryLink {
    font-size: 1rem;
    padding-bottom: 1vw;
}

.rightMenuLinkMob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoryEmojiMob {
    font-size: 2.1rem;
    padding-right: 3vw;
}

.mobMenuFavicon {
    padding: 1vw;
}

.mobileMenuIconsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.numOfLinks {
    font-size: 0.7rem;
    display: contents;
}


@keyframes fade-me-in {
    0% {
      opacity: 0;
    }
    /* Adding a step in the middle */
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fade-me-out {
    0% {
      opacity: 1;
    }
    /* Adding a step in the middle */
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
}