/* 
    ####### MOBILE ##########
*/

.subHdCont {
    width: 100%;
    background-color: darkblue;
}

.subHdTxt {
    text-align: center;
    font-size: 1.1rem;
    padding: 5px;
    padding-bottom: 10px;
    margin: 0;
    color: white;
}

.backToPage {
    color: white;
}

.hierarchySymb {
    padding-right: 5px;
    padding-left: 5px;
}

/* 
    ####### DESKTOP ##########
*/

.desktopCont {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.desktopText {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}