.mobileFaqCont {
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10vw;
}

.mobileFaqHeadline {
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 2vh;
}

.mobileFaqParagraph {
    line-height: 1.9rem;
}

/* 
================== DESKTOP
*/

.dsktopFaqCont {
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 5vh;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}