.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: grey;
	position: sticky;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	overflow: scroll;
	height: 10vh;
}


.bannerMob {
	font-size: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
}

.menuBtn {
	display: flex;
    justify-content: center;
	flex-direction: column;
	margin-left: 1rem;
	user-select: none;
	margin-top: 0.6rem;
}

.menuBtnIcon {
	width: 2.2rem;
}


/*
	DESKTOP ##############################
*/

.headerDesk {
	background-color: #f3f3f3;
	height: 25vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.bigDeskBanner {
	margin: 0;
	height: 18vh;
	font-size: 3rem;
}

.headerTxtCnt {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.dskHeaderQuest {
	font-size: 1.1rem;
	font-weight: bold;
}

.dskHeaderPara {
	font-size: 0.9rem;
	font-weight: 400;
	margin-top: 5px;
}