.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: grey;
}


.bannerMob {
	font-size: 1.5rem;
	padding-left: 1rem;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
}

.menuBtn {
	display: flex;
    justify-content: center;
	flex-direction: column;
	margin-right: 1rem;
}