.reviewPage {
	min-height: 100%;
	width: 100%;
}

.titlesCont {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
.websiteTitle {
	font-size: 1.6rem;
	margin-bottom: 0;
}

.websiteSubtitle {
	font-size: 1.2rem;
	color: grey;
	margin-top: 0;
}

.websiteImgCnt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 85vw;
	border: 3px gray solid;
}

.websiteImg {
	height: 280px;
	object-fit: cover;
	object-position: 0 0;
	width: stretch;
}

.fakeBrowserHead {
	width: 85vw;
	background-color: lightgray;
	height: 7.5vh;
	width: stretch;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.fakeBrowserBarFavi {
	padding: 5px;
	border: 2px black solid;
	background: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.fakeBrowserBar {
	font-size: 0.9rem;
	color: gray;
}

.loadingScreenshot {
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainReviewContent {
	margin-top: 1vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.clickHereLink {
	font-size: 1.2rem;
	font-weight: bold;
}

.infoEmoji {
	margin-top: 2vh;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 1.5rem;
	font-weight: bold;
}

.websiteReview {
	margin-top: 1vh;
	margin-bottom: 0;
	width: 90vw;
}

.reviewSubtitle {
	font-size: 1.4rem;
	margin-bottom: 1vh;
}

.proConSubtl {
	font-size: 1.4rem;
	margin-bottom: 1vh;
	margin-top: 3vh;
}

.reviewBullets {
	list-style-type: none;
	width: 82vw;
	text-decoration: none;
	margin-bottom: 0;
}

.bulletPRO::before {
	content: '👍';
}

.bulletCON::before {
	content: '👎';
}

.backToHome {
	margin-top: 5vh;
	background-color: lightgrey;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
	padding-left: 5vw;
	font-weight: bold;
	font-size: 1.2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

.backToHomeLink {
	text-decoration: none;
	
}

/* 
====================== DESKTOP
*/

.globalDeskCont {
	display: flex;
	flex-direction: column;	
}	

.desktitles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.websiteTitleDesk {
	margin-bottom: 0;
}

.websiteSubtitleDesk {
	margin-top: 0;
	color: grey;

}