.mobileListFeedContainer {
    /* text-align: center; */
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.listItemDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.singleLink {
    margin-left: 5vw;
}

.reviewLink {
    align-self: flex-end;
}

.masterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.anchorPoint {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}