.mobileListFeedContainer {
    /* text-align: center; */
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.listCompo {
    max-height: 200px;
}

.listItemDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.singleLink {
    margin-left: 5vw;
}

.singleLinkDeskt {
    margin-left: 2vw;
    font-size: 1.55vw;
}

.reviewLink {
    align-self: flex-end;
}

.masterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.anchorPoint {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

.goToReview {
    text-decoration: none;
}

/*  =================
============================ DESKTOP
=================  */ 

.desktopListFeedContainer {
    width: 95vw;
    margin-left: 3vw;   
}

.desktopListHeader {
    font-size: 2vw;
}

.desktopListSubheader {
    font-size: 1.5vw;
    font-weight: 400;
}

.desktopListFeedContainer ::-webkit-scrollbar {
    appearance: none;
    width: 0.4vw;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a9a9a9;
    box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
